<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            id="name" 
            #inputName 
            class="form-control" 
            [value]="loadIngredient && loadIngredient.name"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="text" 
            id="amount" 
            #inputAmount 
            class="form-control"
            [value]="loadIngredient && loadIngredient.amount"
          />
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <input 
              class="btn btn-success" 
              type="button" 
              (click)="addIngredient()" 
              value="Add"
            />
            <input 
              class="btn btn-danger" 
              type="button"
              (click)="deleteIngredient()"
              value="Delete"
            />
            <input 
              class="btn btn-primary" 
              type="button" 
              (click)="clearLoadedIngredient()"
              value="Clear"
            />
          </div>
        </div>
    </form>
  </div>
</div>