<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <hr>
    <app-receipe-item 
      *ngFor="let recipEl of recipes" 
      [recipe]="recipEl"
    >
    </app-receipe-item>
  </div>
  <div class="col-sm-4">
    <app-receipe-details 
      *ngIf="!!selectedRecipe; else showInfoText"
      [recipeDetails]="selectedRecipe"
    >
    </app-receipe-details>
    <ng-template #showInfoText>
      <p>Please select an item from the recipe list</p>
    </ng-template>
  </div>
</div>
